@import "../../../variables";

.wrapper {
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
	background: $border-color;
	border-radius: 16px;
	padding: 8px 16px 16px 16px
}

.card-header {
	text-align: center;
}

.todo-name {
	transition: $transition;
	padding: 16px;
	border-radius: 8px;
	cursor: pointer;

	&:hover {
		background-color: $dark-gray-hover;
	}
}

.actions {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.add-icon {
	font-size: 30px;
}