@import "../../../variables";

* {
	overflow: hidden;
}

mat-dialog-content {
	color: $white;
	width: 250px;
	display: flex;
	align-items: center;
	justify-content: center;

	p {
		text-align: center;
	}
}

.spinner {
	width: 250px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dialog-wrapper {
	height: 100px;

	button {
		color: $white;
		background: $medium-dark-gray;
	}
}